<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>test</title>
  </head>
  <body>
    <header th:insert="fragments/page_header::pageHeader"></header>
    <main>
      <div class="container">
        <div class="register-box">
          <h2 class="register-text">
            <a th:href="@{/index/register}" id="register-link">資産登録</a>
          </h2>
        </div>
        <form th:action="@{/index/}" th:object="${searchForm}" method="GET" name="searchForm" id="searchForm">
          <!-- 資産ID検索窓 -->
          <label for="id">資産ID</label>
          <input type="text" name="id" id="id" th:value="${id}"/>
          <!-- カテゴリ選択窓 -->
          <label for="categoryId">資産種別</label>
          <select name="categoryId" id="categoryId">
            <option disabled selected value="">資産種別を選んで下さい</option>
            <option
              th:each="category:${categoryList}"
              th:selected="${category.categoryId == categoryId}"
              th:value="${category.categoryId}"
              th:text="${category.categoryName}"
            ></option>
          </select>
          <!-- 管理者名検索窓 -->
          <label for="adminName">管理者</label>
          <input type="text" name="adminName" id="adminName" th:value="${adminName}"/>
          <!-- 検索ワード窓 -->
          <label for="assetName">資産名</label>
          <input type="text" name="assetName" id="assetName" th:value="${assetName}"/>
          <button id="searchBtn" type="submit">検索</button>
        </form>

        <!-- Query By Exampleの練習 -->
        <form th:action="@{/search}" th:object="${searchForm}" method="POST" name="searchForm" id="searchForm">
          <!-- 資産ID検索窓 -->
          <label for="id">資産ID</label>
          <input type="text" name="id" id="id" th:value="${id}"/>
          <!-- カテゴリ選択窓 -->
          <label for="categoryId">資産種別</label>
          <select name="categoryId" id="categoryId">
            <option disabled selected value="">資産種別を選んで下さい</option>
            <option
              th:each="category:${categoryList}"
              th:selected="${category.categoryId == categoryId}"
              th:value="${category.categoryId}"
              th:text="${category.categoryName}"
            ></option>
          </select>
          <!-- 管理者名検索窓 -->
          <label for="adminName">管理者</label>
          <input type="text" name="adminName" id="adminName" th:value="${adminName}"/>
          <!-- 資産名検索窓 -->
          <label for="assetName">資産名</label>
          <input type="text" name="assetName" id="assetName" th:value="${assetName}"/>
          <!-- 検索ボタン -->
          <button id="searchBtn" type="submit">検索</button>
        </form>
        <form id="csvform" method="post" th:action="@{/asset/csv}" th:object="${csvForm}">
          <div th:each="asset:${assetPage}">
            <input type="hidden" name="id" th:value="${asset.id}" />
            <input type="hidden" name="categoryId" th:value="${asset.categoryId}" />
            <input type="hidden" name="adminName" th:value="${asset.adminName}" />
            <input type="hidden" name="assetName" th:value="${asset.assetName}" />
            <input type="hidden" name="remarks" th:value="${asset.remarks}" />
          </div>
          <button type="submit">CSV</button>
        </form>

        <!-- 検索エラーメッセージ表示 -->
        <h1 class="errorMsg" th:text="${assetIdErrorMsg}" th:if="${assetPage == null}"></h1>

        <!-- 資産リスト表示 -->
        <table class="top" th:if="${assetPage != null && assetPage.size() != 0}">
          <caption> All asset list </caption>
          <thead>
            <tr>
              <th id="id_cell">資産ID</th>
              <th id="categoryName_cell">資産種別</th>
              <th id="adminName_cell">管理者名</th>
              <th id="assetName_cell">資産名</th>
              <th id="remarks_cell">備考</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="asset:${assetPage}">
              <td class="assetIdColumn">
                <!-- ↓AssetControllerへ飛ぶ -->
                <a
                  th:href="@{/index/detail/{id}(id=${asset.id})}"
                  th:text="${#numbers.formatInteger(asset.id,4)}"
                ></a>
              </td>
              <td class="categoryName" th:text="${asset.categoryId}"></td>
              <td class="adminName" th:text="${asset.adminName}"></td>
              <td class="assetName" th:text="${asset.assetName}"></td>
              <td class="remarks" th:text="${asset.remarks}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
