<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>training</title>
  </head>
  <style>
    table {
      border: solid black 1px;
    }
  </style>
  <body>
    <header th:insert="fragments/page_header::pageHeader"></header>
    <main>
      <div class="container justify-content-center">
        <form
          th:action="@{/asset/register}"
          method="POST"
          name="registerForm"
          id="registerForm"
          th:object="${registerForm}"
        >
          <!-- <h2 class="page-title">資産登録</h2> -->
          <table id="register" class="asset table table-hover table-bordered table-responsive-md text-center">
            <caption>
              Asset register table
            </caption>
            <thead class="thead-light">
              <tr>
                <th id="itemName_cell" scope="row" style="width: 50vw;">項目名</th>
                <th id="content_cell" scope="col" style="width: 50vw;">内容</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th id="id_cell" scope="row">資産ID</th>
                <th id="id_input_cell" th:text="${newId}"></th>
                <input type="hidden" name="id" th:value="${newId}" />
              </tr>
              <tr>
                <th id="category_cell" scope="row">資産種別</th>
                <th id="category_input_cell">
                  <select name="categoryId" id="categoryId_input">
                    <option disabled value="0">資産種別を選んで下さい</option>
                    <option
                      th:each="category:${categoryList}"
                      th:value="${category.categoryId}"
                      th:text="${category.categoryName}"
                    ></option>
                  </select>
                </th>
              </tr>
              <tr>
                <th id="adminName_cell" scope="row">管理者</th>
                <th id="adminName_input_cell">
                  <input
                    type="text"
                    name="adminName"
                    placeholder="例）山田太郎"
                  />
                </th>
              </tr>
              <tr>
                <th id="assetName_cell" scope="row">資産名</th>
                <th id="assetName_input_cell">
                  <input
                    type="text"
                    name="assetName"
                    placeholder="例）MacBookAir"
                  />
                </th>
              </tr>
              <tr>
                <th id="remarks_cell" scope="row">備考</th>
                <th id="remarks_input_cell">
                  <input
                    type="text"
                    name="remarks"
                    placeholder="例）特になし"
                  />
                </th>
              </tr>
              <tr>
                <th id="serialID_cell" scope="row">シリアルID</th>
                <th id="serialID_input_cell">
                  <input type="text" name="serialId" placeholder="例）AK3091" />
                </th>
              </tr>
              <tr>
                <th id="purchaseDate_cell" scope="row">購入年月日</th>
                <th id="purchaseDate_input_cell">
                  <input
                    type="text"
                    name="purchaseDate"
                    placeholder="例）2020年1月1日"
                  />
                </th>
              </tr>
              <tr>
                <th id="makerName_cell" scope="row">メーカー名</th>
                <th id="makerName_input_cell">
                  <input type="text" name="makerName" placeholder="例）東芝" />
                </th>
              </tr>
              <tr>
                <th id="accessory_cell" scope="row">付属品</th>
                <th id="accessory_input_cell">
                  <input
                    type="text"
                    name="accessory"
                    placeholder="例）ACアダプタ"
                  />
                </th>
              </tr>
              <tr>
                <th id="storingPlace_cell" scope="row">保管場所</th>
                <th id="storingPlace_input_cell">
                  <input
                    type="text"
                    name="storingPlace"
                    placeholder="例）倉庫A"
                  />
                </th>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-info mr-3">登録</button>
            <button type="button" onclick="history.back()" class="btn btn-warning">戻る</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
